html{
    -webkit-text-size-adjust: 100%;
    -webkit-text-stroke: 0.5px red;
    -ms-text-size-adjust: 100%;
    height: 100%;
    margin: 0;
    line-height: 0.9.5em;
}

h1::selection {
    color: gold;
    background: silver;
}

p::selection {
    color: gold;
    background: black;
}

button::selection {
    color: gold;
    background: black;
}

body{
   /* background: #c1c1c1;
    background: -webkit-linear-gradient(#c1c1c1, white, #c1c1c1);
    background: -o-linear-gradient(#c1c1c1, white, #c1c1c1);
    background: -moz-linear-gradient(#c1c1c1, white, #c1c1c1);
    background: linear-gradient(#c1c1c1, white, #c1c1c1);
    */
    background: black;
    color: gold;
    font-family: 'Monoton', cursive;

}

#new-game-button {
    margin-top: 20px;
    margin-bottom: 40px;
    
}

#main-screen {
    text-align: center;
}

#main-screen {
    margin-bottom: 60px;
}

#game-space {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10px;
    text-align: center;
    height: 400px;
    background: white;
    color: black;
    border: white, 1px, solid;
    font-size:1.25em;
}

#wordSpace {
    font-size: 45px;
    -webkit-text-stroke: 0.5px gold;
    display: inline;
    background: black;

}

footer {
    width: 100%;
    height: 75px;
    text-align: center;
    background-color: silver;
    color: black;
    border: goldenrod 1px solid;
}

footer p {
    padding-top: 10px;
}

@media screen and (max-width: 650px) {
    #game-space {
        width: 75%;
        margin-left: 12.5%;
    }
    #wordSpace {
        font-size: 36px;
    }
}